.calculator {
    margin: 300px auto;
    font-family: sans-serif;
    max-width:400px;
}

.calculator .header {
    margin-bottom: 15px;
    padding: 15px;
}

.calculator .header .display {
    position: relative;
    height: 60px;
    padding: 5px;
    text-align: right;
    background-color: #d1ffde;
    border: solid 1px gray;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.calculator .header .display .history {
    position: absolute;
    top:5px;
    right:5px;
    font-size: 12px;
    color: gray;
}

.calculator .header .display .answer {
    position: relative;
    top: 15px;
    font-size: 30px;
}


.key {
    display:inline-block;
    margin: 5px;
}

.keypad {
    display: table-cell;
    cursor: pointer;
    color: #353535;
    position: relative;
    text-align:center;
    vertical-align: middle;
    border: solid 1px #aeaeae;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.key.one .keypad {
    width: 50px;
    height: 50px;
}

.key.two .keypad {
    width: 112px;
    height: 50px;
}

.dark .keypad {
    background: #e0e0e0;
}

.red .keypad{
    background: #ff8689;
}